*{font-family: 'Poppins', sans-serif;
}

body{margin:0 auto;
    max-width: 1280px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    margin-block:0.2rem
}

h1{color:grey;
    /* font-size: 5.653rem; */
    font-size: 3rem;
}

h2{
    font-size:3.998rem;
}

h3{
    color:blue;
    font-size: 2.827rem;
}

h4{
    color:indianred;
    font-size: 1.999rem;
}

h5{ font-size: 1.414rem;
    color:cornsilk;
}

h6{

}

p{
    line-height: 1.6em;
    margin-block: 0.6em;
}
header {
    background-color:white;
    justify-content: space-between;
    align-items: center;
    padding:20p;
}

div{ 
    /* border: solid 1px yellow; width:100px;} */
}


button {
    background-color: navy;
    color: white;
    border-radius: 50px;
}

.btn-large {
    width: 200px;
    height: 50px;
    font-size: 18px;
    color:ivory;
    background-color:tomato;
    border-color:grey;
    border-radius: 50px;
}

.card {
    background-color: lavender;
    padding: 20px;
    border: 2px solid #ff0000;
    width: 250px;
    margin: 10px 30px 10px 30px;
}

#card {
    justify-content: space-evenly;
}

img{
    width: 100%;
    max-width: 1280px;
}
.logo-header{
    width: 500px;
    height: 100px;
    justify-content: center;
    color: darkgray;
}

#hero {
    height: 80vh;
    /* background-color: tomato; */
    text-align: center;
    background-image: url('../img/jessica-felicio-QS9ZX5UnS14-unsplash.jpg');
    background-size: cover;
    /* background-position: center; */
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

#about{
    height: 50vh;
}

#contact{
    height: 50vh;
    background-color: coral;
    /* boarder:5px solid black;
    margin=10-px */
    padding: 50px 100px}


footer{
    height: 50vh;
}
.container {
  display: flex; /* or inline-flex */
}

/* Linkes */
a:link, a:visited{
    background-color: darkblue;
    text-decoration: none;
    padding: 10px;
}

a:hover {
    background-color: darkcyan;
}
a:visited{}

a.active {
    background-color: darkorange
}

/* menu links */
a.menu:link, a.menu:visited{
    background: none;
    color: grey;
}

a.menu:hover {
    color:peru;
}

/* section div h3 {
    border: 2px dashed blue;
} */

/* links icons */

a.icon:link {
    background: none;
}

a.icon:hover {
    background-color: darkviolet;
    color: ghostwhite;
    border-radius: 25%;
}

img{
    filter: contrast(100%);
    filter: grayscale(50%);
    filter:saturate(200%);
}

/*  */
/*  */
/* Tablet */
@media only screen and (min-width: 600px) and (max-width: 767px){
}


/*  */
/*  */
/* desktop */
@media only screen and (mind-width:768px) {
    font-size: 5.653rem;
}